{% extends 'administration/base.html.twig' %}

{% block title %}Volet Garant -
	{{ app.user.name}}
{% endblock %}

{% block body %}
	<h1 align="center" class="text-uppercase text-xl text-uppercase  fw-bold animate__animated animate__fadeInLeft">
		Garant financier
		<i class="fas fa-money-check"></i>
	</h1>

	{% if app.flashes('success-add-garant') is not empty %}
		<div class="alert alert-success">
			{{ app.flashes('success-add-garant')|first }}
			<div align="center">
				Votre demande a été soumise  avec succcess !
			</div>
		</div>

	{% endif %}

	{% if app.flashes('success-add-justificatif') is not empty %}
		<div class="alert alert-success">
			{{ app.flashes('success-add-justificatif')|first }}
			<div align="center">
				Votre justificatif a été envoyé avec succcess !
			</div>
		</div>

	{% endif %}

	{% if app.flashes('failed-add-justificatif') is not empty %}
		<div class="alert alert-danger">
			{{ app.flashes('failed-add-justificatif')|first }}
			<div align="center">
				Aucun justificatif de paiement reçu !
			</div>
		</div>

	{% endif %}

	{% if app.flashes('error-creation-demande') is not empty %}
		<div class="alert alert-danger">
			{{ app.flashes('error-creation-demande')|first }}
			<div align="center">
				Votre demande n'a pas été soumise ! Veuillez entrer des fichiers valides
			</div>
		</div>

	{% endif %}

	{% if not app.user.isVerified %}
		<div class="alert alert-danger animate__animated animate__fadeInLeft ">
			{{ app.flashes('error-creation-demande')|first }}
			<div align="center">
				Votre compte n'est pas vérifié ! Veuillez verifier vos mails afin de cliquez sur le lien d'activation. Verfiez aussi les spams
			</div>
		</div>
	{%  endif %}


	{% if app.user.garantFinancier is  null %}
		<br>


		<div class="card animate__animated animate__fadeInLeft">
			<div class="card-header  fw-bold text-xs text-uppercase">
				Garant financier
			</div>
			<div class="card-body">
				<h5 class="card-title ">Soumettre une demande</h5>
				<p class="card-text">En cliquant sur ce bouton vous auriez la possibilité de créer une demande de garant financier puis de la soumettre par la suite .</p>
				<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Je demande !</button>
			</div>
		</div>


		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5 fw-bold text-xs text-uppercase text-dark" id="exampleModalLabel" align="center">Formulaire de demande</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">

						<form method="post" action="{{ path('app_garant_new') }}" enctype="multipart/form-data">
							<p class="text-danger">
								<strong>Toutes les informations sont obligatoires . Excepté du champ "Autres informations" . Pour les pieces jointes nous prenons uniquement les fichiers de type pdf ou au format image et lisible .<br>
									<p class="text-dark">* Lien utile pour convertion :
										<a href="https://www.ilovepdf.com/fr" target="blank">IlovePDF</a>
									</p>
								</strong>
							</p>

							<div class="mb-3">
								<label for="recipient-name" class="col-form-label">Le pays souhaité :</label>
								<select name="pays" class="form-select form-select mb-3">
									<option selected>Choisissez le pays !</option>
									<option value="France">France</option>
									<option value="Canada">Canada</option>
								</select>
							</div>

							<div class="mb-3">
								<label for="recipient-name" class="col-form-label">La ville :</label>
								<Input name="ville" type="text" class="form-control" required>
							</div>

							{% if not  app.user.passport %}

								<div class="mb-3">
									<label for="recipient-name" class="col-form-label">Votre Passeport  :</label>
									<input name="pathPassport" type="file" class="form-control">
								</div>

							{% else %}
								<div class="mb-3 text-dark">
									Votre Passport : Nous l'avons déja
									<a target="blank" href="{{ asset('uploads/passport/' ~ app.user.getPassport()) }}" class=" ml-3">ici</a>
									. Vous pouvez toujours le remplacer dans l'onglet
									<a target="blank" href="{{ path('app_user_profil')}}">Mon Profil
									</a>
								</div>
							{% endif %}

							<div class="mb-3">
								<label for="recipient-name" class="col-form-label">Votre Attestation d'acceptation :</label>
								<input name="pathAttestationAdmission" type="file" class="form-control" id="inputGroupFile01">
							</div>

							<div class="mb-3">
								<label for="message-text" class="col-form-label">Autres informations :</label>
								<textarea name="othersInformations" class="form-control" placeholder="Facultatif ..."></textarea>
							</div>

							<div class="form-check mb-3">
								<input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
								<label class="form-check-label text-dark" for="invalidCheck">
									Je certifie l'authenticité de mes documents et des informations que j'ai fournis
								</label>
								<div class="invalid-feedback">
									Vous devez accepter nos conditions.
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
							<button type="submit" class="btn btn-dark">Soumettre</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	{% else %}

		{% if app.user.garantFinancier.statutDemande == 0 %}

			<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
				<div class="card-header  fw-bold text-xs text-uppercase">
					Etat de la demande
				</div>
				<div class="card-body">
					<p class="text-dark">
						<strong class="text-danger fw-bold text-xs text-uppercase">
							En attente de paiement</strong>
						<div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-danger" style="width: 25%"></div>
						</div>
					</p>
					<p>
						Veuillez effectuer le paiement afin que nous puissions traité votre demande .</p>

					<a style="text-align: center" href="{{ path('app_facture_test')}}" class="btn btn-dark ">
						<i class="fas fa-download"></i>
						Télecharger le devis</a>

				</div>
			</div>


		{% endif %}

		{% if app.user.garantFinancier.statutDemande == 1 %}

			<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
				<div class="card-header  fw-bold text-xs text-uppercase">
					Etat de la demande
				</div>
				<div class="card-body">
					<p class="text-dark">
						<strong class="text-primary fw-bold text-xs text-uppercase">En cours de traitement
						</strong>
						<div class="progress " role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-primary" style="width: 50%"></div>
						</div>
					</p>
					<p>
						Veuillez patientez s'il vous plait. Nous traitons votre demande . Elle s'etend généralement sur une période de
						<strong>
							3 à 5 jours
						</strong>
						ouvrés</p>
				</div>
			</div>


		{% endif %}

		{% if app.user.garantFinancier.statutDemande == 2 %}

			<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
				<div class="card-header  fw-bold text-xs text-uppercase">
					Etat de la demande
				</div>
				<div class="card-body">
					<p class="text-dark fw-bold text-xs text-uppercase" align"center">
						<strong class="text-success">Traitement terminée</strong>
						<div class="progress " role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-success" style="width: 100%">Terminée</div>
						</div>
					</p>
					<p>Félicitations
						<i class="fas fa-thumbs-up text-success"></i>
						Le traitement de votre demande est terminée. Les documents sont disponible .</p>
				</div>
			</div>

			<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
				<div class="card-header  fw-bold text-xs text-uppercase">
					téléchargement
				</div>
				<div class="card-body">
					<p class="text-dark fw-bold text-xs text-uppercase" align"center">
						<strong class="">Documents :</strong>
						<a href="{{ asset('uploads/garant/' ~ app.user.getGarantFinancier.getGarantFile() ) }}" class="btn btn-success btn-sm" download="{{ app.user.getName()}}_GarantFile">
							<i class="fas fa-download"></i>
						</a>
					</p>
					<p>Il s'agit d'un document PDF unifié qui contient tous les documents dont vous avez besoin pour votre demande de visa pour le pays suivant :
						<strong class="text-info fw-bold text-xs text-uppercase">{{ app.user.garantFinancier.pays }}</strong>.</p>
				</div>
			</div>


		{% endif %}

		{% if app.user.garantFinancier.statutDemande == 3 %}

			<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
				<div class="card-header  fw-bold text-xs text-uppercase">
					Etat de la demande
				</div>
				<div class="card-body">
					<p class="text-warning fw-bold text-xs text-uppercase" align"center">
						<strong class="text-warning">Demande clôturer</strong>
						<div class="progress " role="progressbar" aria-label="Success example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
							<div class="progress-bar bg-warning" style="width: 100%"></div>
						</div>
					</p>
					<p class="">Votre demande a été clôturer. Vous ne pouvez plus effectuer de demande. Veuillez contacter l'administrateur en cas de doute .</p>
				</div>
			</div>


		{% endif %}

		<div class="row">
			<div class="col-md-6">
				<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
					<div class="card-header fw-bold text-xs text-uppercase">
						Mes informations communiquées
					</div>
					<div
						class="card-body">
						<!-- Contenu de la première carte ici -->


						<p>
							Pour votre demande de garant financier soumise le
							<strong class="text-dark">
								{{app.user.garantFinancier.getDateDemande() |date('d-m-Y')}}</strong>
							à
							{{app.user.garantFinancier.getDateDemande() |date('H:i')}}
							vous nous avez communiqué les informations suivantes :</p>


						<div class="container">
							<div class="row">
								<div class="col">
									<table class="table">
										<tbody>
											<tr>
												<th scope="row">Pays</th>
												<td>{{ app.user.garantFinancier.getPays() }}</td>
											</tr>
											<tr>
												<th scope="row">Ville</th>
												<td>{{ app.user.garantFinancier.getVilleEtude() }}</td>
											</tr>
											<tr>
												<th scope="row">Passport</th>
												<td>
													{% if not app.user.passport %}
														<p class="text-danger">
															<strong>Vous devez joindre le justificatif de paiement pour le traitement de votre dossier ici !.</strong>
														</p>
														<p>Rendez-vous dans le menu
															<a href="{{ path('app_user_profil') }}" target="_blank">Mon profil</a>
															afin d'y joindre le ou les documents demandés.</p>
													{% else %}
														<a href="{{ asset('uploads/passport/' ~ app.user.passport) }}" class="btn btn-dark btn-sm" download="{{ app.user.name }}_Passeport">
															Voir
															<i class="fas fa-eye"></i>
														</a>
													{% endif %}
												</td>
											</tr>
											<tr>
												<th scope="row">Attestation d'acceptation</th>
												<td>
													{% if app.user.garantFinancier.getPathAdmissionFile() == null %}
														<p class="text-danger">Vous n'avez joint aucune attestation d'acceptation. Les pièces jointes sont obligatoires.</p>
														<label for="formFile" class="form-label">Attestation d'acceptation</label>
														<input class="form-control" type="file" id="formFile">
													{% else %}
														<a href="{{ asset('uploads/attestation/' ~ app.user.garantFinancier.pathAdmissionFile) }}" class="btn btn-dark btn-sm" download="{{ app.user.name }}_attestation_acceptation">
															Voir
															<i class="fas fa-eye"></i>
														</a>
													{% endif %}
												</td>
											</tr>
											<tr>
												<th scope="row">
													Justificatif de paiement
												</th>
												<td>
													{% if app.user.garantFinancier.justificatifPaiement %}
														<a href="{{ asset('uploads/justificatif-de-paiement/' ~ app.user.garantFinancier.justificatifPaiement) }}" class="btn btn-success btn-sm" download="{{ app.user.name }}__paiement">
															Voir
															<i class="fas fa-eye"></i>
														</a>
													{% else %}

														Aucun justificatif
													{% endif %}
												</td>
											</tr>


										</tbody>
									</table>

								</div>

							</div>

						</div>
						{% if app.user.garantFinancier.getStatutDemande() == 0 %}
							<br>
							<form action="{{ path('app_garant_delete', {'id': app.user.garantFinancier.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette demande de garant financier ?')">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ app.user.garantFinancier.id) }}">
								<div align="center">
									<button type="submit" class="btn btn-danger">
										<i class="fas fa-trash"></i>
										Annuler

									</button>
								</div>
							</form>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="card shadow mb-3 animate__animated animate__fadeInLeft">
					<div class="card-header  fw-bold text-xs text-uppercase">
						Documents relatifs à la demande
					</div>
					<div
						class="card-body">
						<!-- Contenu de la deuxième carte ici -->
						Joindre un justificatif de paiement (Western Union , Ria ...)
						<br><br>
						<form method="post" action="{{ path('app_garant_justificatif_paiement') }}" enctype="multipart/form-data">
							<input class="form-control" type="file" name="justificatif">
							<br>
							{% if  not  app.user.getGarantFinancier().getJustificatifPaiement() %}		
							<p class=" alert alert-danger text-center">Vous devez joindre le justificatif de paiement ici ! (WU , Ria ...)  ou par mail : <u>maykconsulting@gmail.com</u> </p>
							{% else %}
<p class=" alert alert-success text-center">Nous avons reçu votre justificatif de paiement . </p>
							{% endif %}
							<button type="submit" class="btn btn-dark" style="width:100%">
								<i class="fas fa-upload"></i>
								Soumettre</button>
						</form>
						<br>
					</div>
				</div>
			</div>
		</div>

		{# <div class="card shadow mb-3 animate__animated animate__fadeInLeft">
					<div class="card-header  fw-bold text-xs text-uppercase">
						Historique de la demande 
					</div>
					<div
						class="card-body">
						<!-- Contenu de la deuxième carte ici -->
						
						<br>
					</div>
				</div> #}


		<br>


	{% endif %}


</div></div>{% endblock %}
