{% extends 'administration/base.html.twig' %}

{% block title %}Volet Hebergement - {{ app.user.name }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <h1 align="center" class="text-uppercase text-xl text-uppercase  fw-bold animate__animated animate__fadeInLeft">
        Hébergement
        <i class="fas fa-building"></i>
    </h1>
    {% if app.user.hebergement is  null %}
    <br>


    <div class="card animate__animated animate__fadeInLeft">
        <div class="card-header  fw-bold text-xs text-uppercase">
            Hebergement
        </div>
        <div class="card-body">
            <h5 class="card-title ">Soumettre une demande</h5>
            <p class="card-text">En cliquant sur ce bouton vous auriez la possibilité de créer une demande de document de logement puis de la soumettre par la suite . Attention nous ne vous fournissons que des documents officiel.Il sera donc preferable d'envisagé d'avoir une alternative une fois votre arrivé en france. Ces documents vous aiderons à avoir votre Visa Etude</p>
            <button type="button" class="btn btn-dark text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">Je demande !</button>
        </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 fw-bold text-xs text-uppercase text-dark" id="exampleModalLabel" align="center">Formulaire de demande</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <form method="post" action="{{ path('app_garant_new') }}" enctype="multipart/form-data">
                        <p class="text-danger">
                            <strong>Toutes les informations sont obligatoires . Excepté du champ "Autres informations" . Pour les pieces jointes nous prenons uniquement les fichiers de type pdf ou au format image et lisible .<br>
                                <p class="text-dark">* Lien utile pour convertion :
                                    <a href="https://www.ilovepdf.com/fr" target="blank">IlovePDF</a>
                                </p>
                            </strong>
                        </p>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Le pays souhaité :</label>
                            <select name="pays" class="form-select form-select mb-3">
                                <option selected>Choisissez le pays !</option>
                                <option value="France">France</option>
                                <option value="Canada">Canada</option>
                                <option value="Maroc">Maroc</option>
                                <option value="USA">USA</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">La ville :</label>
                            <Input name="ville" type="text" class="form-control" required>
                        </div>

                        {% if not  app.user.passport %}

                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Votre Passeport  :</label>
                                <input name="pathPassport" type="file" class="form-control">
                            </div>

                        {% else %}
                            <div class="mb-3 text-dark">
                                Votre Passport : Nous l'avons déja
                                <a target="blank" href="{{ asset('uploads/passport/' ~ app.user.getPassport()) }}" class=" ml-3">ici</a>
                                . Vous pouvez toujours le remplacer dans l'onglet
                                <a target="blank" href="{{ path('app_user_profil')}}">Mon Profil
                                </a>
                            </div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Votre Attestation d'acceptation :</label>
                            <input name="pathAttestationAdmission" type="file" class="form-control" id="inputGroupFile01">
                        </div>

                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Autres informations :</label>
                            <textarea name="othersInformations" class="form-control" placeholder="Facultatif ..."></textarea>
                        </div>

                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label text-dark" for="invalidCheck">
                                Je certifie l'authenticité de mes documents et des informations que j'ai fournis
                            </label>
                            <div class="invalid-feedback">
                                Vous devez accepter nos conditions.
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-dark">Soumettre</button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}

    {% if app.user.hebergement.statutDemande == 0 %}

        <div class="card shadow mb-3 animate__animated animate__fadeInLeft">
            <div class="card-header  fw-bold text-xs text-uppercase">
                Etat de la demande
            </div>
            <div class="card-body">
                <p class="text-dark">
                    <strong class="text-danger fw-bold text-xs text-uppercase">
                        En attente de paiement</strong>
                <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-danger" style="width: 25%"></div>
                </div>
                </p>
                <p>
                    Veuillez effectuer le paiement afin que nous puissions traité votre demande .</p>

                <a style="text-align: center" href="{{ path('app_facture_hebergement')}}" class="btn btn-dark ">
                    <i class="fas fa-download"></i>
                    Télecharger le devis</a>

            </div>
        </div>
        {% endif %}

    {%  endif %}
    </div>
    </div>
{% endblock %}
