{% extends 'administration/base.html.twig' %}

{% block body %}
	<h1 align="center" class="text-dark animate__animated animate__fadeInLeft">
		Hello
		{{ app.user.name }}
		!
	</h1>
	{% if not app.user.isVerified %}
		<div class="alert alert-danger">
			<div align="center">
				votre compte n'est pas vérifié.	Vous avez reçu un mail de verification dans votre boite mail indiqué ! Vérifier également les spams
			</div>
		</div>
	{% endif %}
	<br>

	<div class="card text-center animate__animated animate__fadeInLeft">
		<div class="card-header bg-black text-white text-uppercase fw-bolder">
			Accedez aux demandes
		</div>
		<div class="card-body">
			<p class="card-text">En choisissant l'une des options suivantes, vous accéderez au service que vous souhaitez.</p>
			{# <a href="{{path('app_admission')}}" class="btn btn-light">Admission <i class="fas fa-book-open"></i></a>#}
			<a href="{{path('app_hebergement')}}" class="btn btn-light">Hebergement <i class="fas fa-home"></i></a>
			<a href="{{path('app_garant')}}" class="btn btn-light">Garant Financier <i class="fas fa-money-bill"></i></a>
		</div>
	</div>
	{# <div
		class="card mb-3 animate__animated animate__fadeInLeft">
		{# <img src=" " class="card-img-top" alt="..."> 
		<div class="card-body">
			<h5 class="card-title fw-bold text-sm text-uppercase">Ravie de vous revoir !</h5>
            {%  if not app.user.garantFinancier %}
			<p class="card-text">
				Il me semble que vous n'avez aucune proccedure en cours. Ne vous inquietez pas ! Sur notre platforme vous pouvez effectué votre demande d'admission,d'hébergement ou une demande de garant financier !
			</p>
            {%  else  %}
<p class="card-text">
				Géniale tu as une proccédure de garant financier en cours ! <br><br>
                <a class="btn btn-dark " href="{{ path('app_garant')}}">Consulter</a>
			</p>
            {% endif %}
			<p class="card-text">
				<small class="text-body-secondary"></small>
			</p>
		</div>
	</div>

<div class="row animate__animated animate__fadeInLeft">
    <div class="col-md-4">
        <div class="card">
             <img src="/assets/images/admission.jpeg" class="card-img-top img-fluid"  alt="...">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Admission</strong></h5>
                <p class="card-text">Pour votre demande d'admission , Cliquez ici !</p>
                <div align="center">  <a href="{{path('app_admission')}}" class="btn btn-dark btn-block" style="width:100%;">Consulter</a></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card">
             <img src="/assets/images/logement.jpeg" class="card-img-top img-fluid"  alt="...">
            <div class="card-body">
                <h5 class="card-title text-center "><strong>Logement</strong></h5>
                <p class="card-text">Pour votre demande de logement , Cliquez ici !</p>
               <div align="center">  <a href="#" class="btn btn-dark btn-block" style="width:100%; ">Consulter</a></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
             <img src="/assets/images/argent.jpeg" class="card-img-top img-fluid"  alt="...">
            <div class="card-body">
                <h5 class="card-title text-center"><strong>Garant financier</strong></h5>
                <p class="card-text">Pour votre demande de garant , Cliquez ici !</p>
                <div align="center">  <a href="{{ path('app_garant')}}" class="btn btn-dark btn-block" style="width:100%; ">Consulter</a></div>
            </div>
        </div>
    </div> 
</div>#}
<br><br>

</div></div>{% endblock %}
