<nav class="navbar navbar-light navbar-expand bg-white shadow custom-navbar topbar static-top">
	<div class="container-fluid">
		<button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
			<i class="fas fa-bars"></i>
		</button>
		{# <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
										<div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button">
												<i class="fas fa-search"></i>
											</button>
										</div>
									</form> #}
		<ul
			class="navbar-nav flex-nowrap ms-auto">
			{# <li class="nav-item dropdown d-sm-none no-arrow">
												<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
													<i class="fas fa-search"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
													<form class="me-auto navbar-search w-100">
														<div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
															<div class="input-group-append">
																<button class="btn btn-primary py-0" type="button">
																	<i class="fas fa-search"></i>
																</button>
															</div>
														</div>
													</form>
												</div>
											</li> #}
			<li class="nav-item dropdown no-arrow mx-1">
				<div class="nav-item dropdown no-arrow">
					<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
						<span class="badge bg-dark badge-counter">
							2</span>
						<i class="fas fa-solid fa-layer-group"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
						<h6 class="dropdown-header bg-dark border-dark">Mes proccédures en cours</h6>
						{% if app.user.garantFinancier %}
							<a class="dropdown-item d-flex align-items-center" href="{{path('app_garant')}}">
								<div class="me-3">
									<div class="bg-dark icon-circle">
										<i class="fas fa-money-check text-white"></i>
									</div>
								</div>
								<div>
									<span class="small text-gray-500">Demandé le : {{app.user.garantFinancier.dateDemande | date('d/m/Y') }}</span>
									<p class="">Garant Financier </p>
								</div>

							</a>
						{% else %}
							<a class="dropdown-item d-flex align-items-center" href="{{path('app_garant')}}">
								<div>
									<span class="small text-gray-500"></span>
									<strong class="">Garant Financier : Aucune procédure </strong>
								</div>

							</a>
						{% endif %}
						{% if app.user.hebergement %}
							<a class="dropdown-item d-flex align-items-center" href="{{path('app_hebergement')}}">
								<div class="me-3">
									<div class="bg-dark icon-circle">
										<i class="fas fa-building text-white"></i>
									</div>
								</div>
								<div>
									<span class="small text-gray-500">Demandé le : {{app.user.hebergement.dateDemande | date('d/m/Y') }}</span>
									<p class="">Hebergement </p>
								</div>

							</a>
						{% else %}
							<a class="dropdown-item d-flex align-items-center" href="{{path('app_hebergement')}}">
								<div>
									<span class="small text-gray-500"></span>
									<strong class="">Hébergement : Aucune procédure </strong>
								</div>

							</a>
						{% endif %}

					</div>

				</div>
			</li>
			{% if is_granted('ROLE_ADMIN') %}
			<li class="nav-item dropdown no-arrow mx-1">
				<div class="nav-item dropdown no-arrow">
					<a class="dropdown-toggle nav-link" aria-expanded="false" href="/administration/publicMessage">
						{%  if nombreEntitesMessage != 0 %}
							<span class="badge bg-danger badge-counter">{{ nombreEntitesMessage }}</span>
						{%  endif %}

						<i class="fas fa-envelope fa-fw"></i>
					</a>
					{# <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
																<h6 class="dropdown-header">alerts center</h6>
																<a class="dropdown-item d-flex align-items-center" href="#">
																	<div class="dropdown-list-image me-3"><img class="rounded-circle" src="{{ asset('assets/img/avatars/avatar4.jpeg') }}">
																		<div class="bg-success status-indicator"></div>
																	</div>
																	<div class="fw-bold">
																		<div class="text-truncate">
																			<span>Hi there! I am wondering if you can help me with a problem I've been having.</span>
																		</div>
																		<p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
																	</div>
																</a>
																<a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
															</div> #}
				</div>
				<div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
			</li>
			{% endif %}
			{# <div class="d-none d-sm-block topbar-divider"></div> #}
			<li class="nav-item dropdown no-arrow">
				<div class="nav-item dropdown no-arrow">
					<a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
						<span class="d-none d-lg-inline me-2 text-dark small">{{ app.user.name }}
							{{ app.user.lastName }}
							<i class="fas fa-chevron-down fa-sm fa-fw me-2 text-gray-700 "></i>
						</span>                            {% if app.user.avatar is not empty %}
							<img class="rounded-circle me-2" width="40" height="40" src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}">
						{% else %}
							<img class="rounded-circle me-2" width="40" height="40" src="/assets/images/logo.png">
						{% endif %}</a>
					<div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
						<a class="dropdown-item" href="{{ path('app_user_profil') }}">
							<i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profil</a>
						{# <a class="dropdown-item" href="#">
																		<i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a> #}
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/logout">
							<i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Se deconnecter</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
