<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Devis - {{ app.user.name }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        h1 {
            text-align: center;
            margin-bottom: 30px;
        }
        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }
        .logo {
            max-width: 200px;
            height: auto;
        }
        .total-rouge {
            color: red;
        }
    </style>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
        </div>
        <h1>Devis - Garant financier pour : <div class="text-danger">{{ app.user.name }}</div> </h1><br>
       <br> <br> 
        <table class="table">
            <tr>
                <th>Numéro de facture</th>
                <td>{{ app.user.id }}XGF </td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ date_facture | date('d-m-Y') }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td> <strong> {{ app.user.name }} {{ app.user.lastName }} <strong></td>
            </tr>
            <tr>
                <th>Total à payer :</th>
                <td class="total-rouge"> <strong> 350 000 FCFA</strong></td>

            </tr>
        </table>
<br>
 <p align="center">Dépôt par <strong> Western Union , Ria , MoneyGram ...  </strong>à affectuer vers  : </p>

 <br>

        <table class="table">
            <tr>
                <th>Nom</th>
                <td> <strong> BAKAYOKO </strong></td>
            </tr>
            <tr>
                <th>Prenoms</th>
                <td>Mariame </td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>90 Chaussée Jules César , Eaubonne</td>
            </tr>
            <tr>
                <th>Numéro de téléphone :</th>
                <td>+33 7 49 72 64 06</td>
            </tr>
        </table>
     
        <img align="right" src="data:image/png;base64,{{ image_content }}" style="width: 200px; height: 200px;">
        
        <p align="left"><strong>By Mayk Consulting Services<strong></p> 
       
    </div>
</body>
</html>
